.board-container {
    border: 2px solid grey;
    border-radius: 10px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.board-title {
    color: #03dba7 !important;
}

.board-description {
    font-size: 16px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    color: #ffffff;
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.suggestion-title {
    font-size: 15px;
    margin-bottom: 5px;
}

.suggestion-description {
    font-size: 13px;
    width: 90%;
    margin-bottom: 5px;
}

.suggestion-username {
    color: #03dba7;
}

.suggestion-details {
    font-size: 12px !important;
    margin-bottom: 0px;
}

.upvote {
    position: absolute;
    top: 30px;
    right: 30px;
}
 
.downvote {
    position: absolute;
    top: 70px;
    right: 30px;
}