.board-container {
    border-radius: 10px;
    text-align: left;
    padding: 0px;
    margin-top: 70px;
    box-shadow: 1px 1px 12px 5px #00000066;
}

.board-header {
    background: linear-gradient(to right,#17406b, #132e4a) !important;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.settings-div {
    position: absolute;
    right: 0;
}

#settings-dropdown {
    color: white;
    border-radius: 8px;
    width: 35px;
    position: absolute;
    right: 0;
    border-color: transparent;
    top: 20px;
    background: linear-gradient(to right,#6b6b6b, #9c9999) !important;
}

#settings-dropdown:hover {
    background: linear-gradient(to right,#4e4e4e, #2b2b2b) !important;
}

button#settings-dropdown::after {
    display: none;
}

.dropdown-menu-settings {
    transform: translate(-125px, 60px) !important;
    text-align: right;
    width: 125px;
    min-width: 125px;
    background: linear-gradient(5deg, rgba(11,28,43,1) 0%, rgba(10,37,62,1) 56%, rgba(10,37,62,1) 100%);
}

.dropdown-menu-settings .dropdown-header {
    padding: 5px 14px 2px 20px !important;
}

.dropdown-menu-settings .dropdown-item {
    padding-right: 14px !important;
}

.board-heading {
    margin-top: 10px;
    margin-left: 10px;
    margin-top: 40px;
}

.board-title {
    color: #03dba7 !important;
}

.board-description {
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 40px;
    color: #bbb9b9 !important;
    padding-right: 15px;
}

.admin-info {
    font-size: 14px;
    padding-left: 25px;
}

.board-button-row {
    padding: 0px 20px 0px 20px;
    background: linear-gradient(to right,#204368, #0a253e) !important;
    border-top: 1px solid #80808038;
}

.board-suggestions-row {
    padding: 0px 20px 0px 20px;
    background: linear-gradient(to right,#204368, #0a253e) !important;
    border-bottom: 1px solid #80808038;
    border-top: 1px solid #80808038;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    padding: 0px 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    height: auto;
    position: relative;
}

.suggestion-title {
    font-size: 15px;
    margin-bottom: 5px;
}

.no-suggestion-text {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-style: italic;
    color: #bbb9b9 !important;
}

.suggestion-description {
    font-size: 13px;
    width: 92%;
    margin-bottom: 5px;
    color: #bbb9b9 !important;
}

.suggestion-username {
    color: #03dba7;
}

.suggestion-details {
    font-size: 12px !important;
    margin-bottom: 0px;
}

.delete {
    color: #c92b2b !important;
}

.upvote {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 10px;
}

.downvote {
    position: absolute;
    top: 40px;
    right: 0px;
    margin-right: 10px;
}

.new-suggestion-row {
    padding: 0px 20px 20px 20px;
    background: linear-gradient(to right,#204368, #0a253e) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.make-a-suggestion-text {
    margin-top: 30px;
}

.suggestion-form-area {
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.make-a-suggestion-text {
    font-size: 20px !important;
    margin-bottom: -6px;
}

.button-area {
    padding-right: 15px !important;
}

.modal-content {
    border-radius: 10px;
    border: transparent !important;
    box-shadow: 1px 1px 12px 5px #00000066;
    top: 130px;
}

.modal-header {
    background: linear-gradient(to right,#17406b, #132e4a) !important;
    border-bottom: 0px !important;
    padding: 20px 20px 10px 20px;
}

.close {
    color: #ffffff !important;
}

.modal-title {
    color: #ffffff;
}

.modal-body {
    border-bottom: 1px solid #80808038;
    border-top: 1px solid #80808038;
    padding: 10px 20px 10px 20px;
}

.modal-body, .modal-footer {
    background: linear-gradient(to right,#204368, #0a253e) !important;
}

.modal-footer {
    border-top: 0px !important;
    padding: 10px 20px 16px 20px;
}

.modal-body .error {
    text-align: left !important;
    float: left;
    margin-right: auto;
}

.modal-footer .error {
    text-align: left !important;
    float: left;
    margin-right: auto;
}

.modal-body textarea {
    height: 140px;
}

.delete-board-text {
    margin-bottom: -5px;
    text-align: left;
    font-size: 15px;
}


/* MEDIA QUERIES */ 

@media screen and (max-width: 991px) {
    .suggestion-title {
        width: 92%;
    }

    /* .upvote {
        bottom: 140px;
        left: 92.3%;
    } */

    /* .downvote {
        bottom: 100px;
        left: 84.5%;
    } */
    
}

@media screen and (max-width: 767px) {

    .board-header, .board-button-row, .board-suggestions-row, .new-suggestion-row {
        padding: 0px !important;
    }

    .suggestion-title, .suggestion-description {
        width: 86%;
    }

    .suggestion-btn {
        min-width: 180px;
    }

    /* .upvote {
        bottom: 170px;
        left: 90%;
    }

    .downvote {
        bottom: 130px;
        left: 80%;
    } */
}

@media screen and (max-width: 517px) {


}

@media screen and (max-width: 492px) {

    .sort-btn {
        min-width: 100px;
    }

    .suggestion-btn {
        min-width: 160px;
    }

}

@media screen and (max-width: 430px) {

    .sort-btn {
        min-width: 80px;
        width: unset;
    }

    .suggestion-btn {
        min-width: 160px;
    }

}

@media screen and (max-width: 425px) {

    .suggestion-description {
        width: 80%;
    }

}

@media screen and (max-width: 410px) {

    #settings-dropdown {
      top: 0px !important;
      right: 6px !important;
    }
  
    .col-md-12, .col-lg-12 {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    
    li {
        padding-right: 0px !important;  
    }
    
  }

@media screen and (max-width: 400px) {

    .suggestion-btn {
        min-width: 140px;
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media screen and (max-width: 380px) {

    .board-button-row .suggestion-btn {
        min-width: 120px;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 1.1;
    }
    
}

@media screen and (max-width: 380px) {

    .board-button-row .suggestion-btn {
        min-width: 100px;
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 1.1;
    }
    
}

