.submit-btn {
    margin-top: 20px !important;
    width: 100%;
}

.new-board-row {
    max-width: 70%;
    margin: auto;
    margin-top: 70px;
}

textarea {
    height: 100px;
}

.new-board-row .suggestion-btn {
    float: unset;
    margin: 10px auto;
}