.navbar {
    background: rgb(11,28,43);
    background: linear-gradient(to right,#00264D, #00172D) !important;
    height: 90px;
    margin-bottom: 40px;
    border-radius: 0px !important;
}

.navbar-brand {
    display: flex !important; 
    flex-direction: column !important;
    justify-content: center !important;
}

.nav-link {
    padding: 0px !important;
}

.navbar-nav a {
    color: #03dba7 !important; 
    font-size: 20px;
    margin-right: 24px; 
}

a:hover {
    color: darkorange !important; 
    text-decoration: none;
}

.logo {
    height: 60px; 
}

.dropdown-nav-item {
    font-size: 16px !important;
}

.dropdown-menu-loggedout {
    width: 100px !important;
    min-width: 100px !important;
    left: -44px !important;
    background: linear-gradient(5deg, rgba(11,28,43,1) 0%, rgba(10,37,62,1) 56%, rgba(10,37,62,1) 100%);
    border-radius: 10px;
}

.dropdown-menu-loggedin {
    max-width: 250px !important;
    min-width: 100px !important;
    left: 18px !important;
    background: rgb(11,28,43);
    background: linear-gradient(5deg, rgba(11,28,43,1) 0%, rgba(10,37,62,1) 56%, rgba(10,37,62,1) 100%);
    border-radius: 10px;
}

button#login-dropdown {
    max-width: 250px;
}

button#login-dropdown:hover {
    background: linear-gradient(to right,#1c5690, #002952) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent !important;
}