.card {
    background: rgb(11,15,37);
    background: linear-gradient(to right,#2176ca, #185591);
    border-radius: 10px;
    box-shadow: 1px 1px 12px 5px #00000066;
}

.card-body {
    padding: 2rem;
}

.home-card {
    text-align: center;
}

.card-icon {
    font-size: 56px !important;
    color: #ffffff;
}

.card-title { 
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
    color: #dadada !important;
}

.search-section input {
    max-width: 400px !important;
}

.search-section .inputField {
    padding-top: 0px;
}

.search-section .note {
    text-align: center !important;
}

.search-results li {
    height: auto;
    margin-bottom: 10px;
}

.board-search-title-link {
    font-size: 20px;
}

.board-search-description {
    font-size: 15px;
    color: #bbb9b9;
}


/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
    .card-body {
        padding: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}