.card {
    background: rgb(11,15,37);
    background: linear-gradient(to right,#2176ca, #185591);
    border-radius: 10px;
    box-shadow: 1px 1px 12px 5px #00000066;
}

.card-body {
    padding: 2rem;
}

.home-card {
    text-align: center;
}

.card-icon {
    font-size: 56px !important;
    color: #ffffff;
}

.card-title { 
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
    color: #dadada !important;
}
