.card {
    background: rgb(11,15,37);
    background: linear-gradient(to right,#2176ca, #185591);
    /* border-color: #70c989; */
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

.home-card {
    text-align: center;
}

.card-icon {
    font-size: 56px !important;
    color: #ffffff;
}

.card-title { 
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 20px;
}

.card-text {
    font-size: 16px;
}
