.footer {
    /* margin-top: 40px;  */
    width: 100%;
    background: rgb(11,28,43);
    background: linear-gradient(to right, rgba(10,37,62,1), rgba(11,28,43,1)) !important;
    padding: 20px 20px 20px 20px !important;
    height: 100px;
}

.footer-text {
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px
}

.footer-link {
    color: #03dba7 !important;
    font-size: 18px;
}

.footer-link-text {
    font-family: 'Roboto Slab', serif;
}
